.todo_container {
    display: flex;
    gap: 20px;
    margin-top: 24px;
    flex-wrap: wrap;
}

.todo_box {
    width: 270px;
    border: 4px solid #5b6ee1;
    border-radius: 12px;
    padding: 12px 24px 24px;

}

.btn_set {
    display: flex;
    gap: 10px;
    margin-top: 24px;
}

.todo_del_btn {
    background-color: #fff;
    border: 2px solid tomato;
}

.todo_done_btn {
    background-color: #fff;
    border: 2px solid #6abe30;
}

.btn {
    border-radius: 8px;
    cursor: pointer;
    height: 40px;
    width: 50%;
}
